body {
  @include body-font;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.navbar {
	padding: 0 0;
	background-color: #030115 !important;
	display: block;
	line-height: 1;

}

.menu-block {
	display: flex; 
	justify-content: center;
	padding: 5px 0;

}

.nav-menu {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	margin-top: 10px; 
}

/*.navbar>.container, .navbar>.container-fluid {
	position: relative;
	padding: 0 0;
    margin: 0 0;
    margin-left: 11%;
    justify-content: center;
}*/

.nav-menu li {
	font-size: 1rem;
	list-style: none;
}

.nav-menu li:not(:last-of-type){
	padding-right: 3rem;
}

.nav-menu a, .lang-change a {
	text-decoration: none;
	color: white;
}

.nav-menu a:hover {
	text-shadow: 3px 5px 5px #9f93ad;
}

.menu-btn {
	display: none;
}

.lang-change-container {
	position: absolute;
	top: 25%;
	right: 2%;
	z-index: 1;
	width: auto;
}

.lang-change {
	height: 4rem;
	width: 5.7rem;
}

.lang-change span{
	padding-right: 10px;
	color: white;
	font-size: 1rem;
}

.globe { 
	width: 35%;
	margin-top: -5%;
}

.showcase {
	margin: 2rem 0;
}

.showcase .col-lg-6 {
	margin: 3rem 0;
}


.fa,.fas {
	font-weight: 1;
	//color: #745dad;
}

@media (max-width: 1440px) {

	.nav-menu {
	flex-wrap: wrap;
	justify-content: flex-start;
	}

}

@media (max-width: 1024px) {
	
	/*.navbar>.container, .navbar>.container-fluid {
		margin-left: 0;

	}*/
	
	.menu-block {
		justify-content: flex-start;
		
	}

	.nav-menu li {
		padding-right: 1rem !important;
		padding-left: 1.5rem; 

		font-size: .8rem;
	}

}

@media (max-width: 768px) {

	/*nav.navbar-brand {
		width: 0;
	}*/

/*menu button for mobile version*/
	.menu-btn {
		display: block;
		width: 50px;
		height: 45px;
		border: 2px solid white;
		border-radius: 10px;
		position: absolute;
		right: 5%;

	}

	.menu-btn span,
	.menu-btn span::before,
	.menu-btn span::after {
	  position: absolute;
	  top: 50%; margin-top: -1px;
	  left: 50%; margin-left: -12px;
	  width: 24px;
	  height: 2px;
	  background-color: white;
	}

	.menu-btn span::before,
	.menu-btn span::after {

	  content: '';
	  display: block;
	  transition: 0.2s;

	}

/*menu button animation*/
	.menu-btn span::before {

	  transform: translateY(-5px);
	}

	.menu-btn span::after {

	  transform: translateY(5px);
	}

	.menu-btn_active span:before {

	  transform: rotate(-35deg);
	  width: 10px;
	  transform-origin: left bottom;

	}

	.menu-btn_active span:after {

	  transform: rotate(35deg);
	  width: 10px;
	  transform-origin: left top;

	}

	.menu-block {
	  position: relative;
	}

	.nav-menu {
		display: block;
		position: absolute;
		top: 570%;
		right: 0;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
		overflow: hidden;

	
	}

	.nav-menu li {
		background-color: black;
		border-bottom: .1px solid grey;
		line-height: 1.5;font-size: 1.3rem;
	}

	.nav-menu_active {
		opacity: 1;
		visibility: visible;
	}




/*menu links*/
	.menu-nav__link {
	  display: block;
	  text-decoration: none;
	  color: #fff;
	}

	.nav-menu a {
	  color: white;
	  font-weight: 200;
	  transition: 1s;
	  padding: 20px 5px;
	  text-align: right;

	}

	.lang-change-container {
		position: relative;
		left: 5%;
		z-index: 2;	
		width: 40px;
	}
	
	.lang-change {
		height: 3.5rem;
		width: 7rem;
		padding-top: 10px;
	}
}

